/* 나눔스퀘어 글씨체 사용 */
@import url(https://hangeul.pstatic.net/hangeul_static/css/NanumSaRangHaeADeur.css); 

.flex-container {
    font-family: NanumSaRangHaeADeur;
    font-weight: bold;
    background-color: #DAF1DA;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 10%;
    font-size: 60px;
    display: flex;
    -webkit-user-select: none;          /* none 4가지는 드래그 방지 */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navLink {                  /* NavLink의 css 제거 */
    color: inherit;
    text-decoration: none;
}